@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body, h1, p, #date-container, #sidebar, #sidebar-content, .legend {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

.app-container {
  display: flex;
  height: 100%;
}

#map {
  height: 100%;
  /*flex:3;*/
  width: 100%;
  transition: width .3s;
  z-index: 1;
}
/*
.leaflet-control-layers .leaflet-control-layers-expanded .leaflet-control  {
  z-index: 1000;
}*/

h1 {
  text-align: center;
}

#date-container {
  position: absolute;
  top: 10px;
  left: 100px;
  z-index: 1000;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font: 14px Arial, Helvetica, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  line-height: 24px;
  color: #555;
}

.right-date {
  background: rgba(255, 255, 255, 0.8);
}

.wrong-date {
  background: rgba(254, 170, 170, 0.8);
}

.date-loaded {
  background: rgb(167, 239, 167);
}

#crime {
  padding: 0;
  margin: 0;
}

.menu {
  padding: 0;
  margin: 1px;
}

.button {
  padding: 0;
  margin: 0
}

#space {
  padding: 5px;
}

#sidebar {
  height: 100vh;
  position: fixed;
  z-index: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #ddd; /* Updated background color */
  /* padding-top: 60px; */
  color: black; /* Updated font color */
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.8); /* Added box shadow */
  right: 0; /* Adjust this to set the distance from the right edge */
  opacity: 0;
  transition: opacity 0.3s, width .3s;
}

#sidebar-content {
  padding: 20px;
}

#sidebar h2 {
  color: black;
}


.graph{
  /* height: 20%;  Set to one-fifth of the sidebar height. P.S. Height does not do anything here. */
  background-color: #ddd; /* Lighter background color for the pie chart */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px; /* Adjust margin as needed */
  margin-right: 10px; /* Adjust margin as needed */
  padding: 10px;
  width: 561px;
}

#vict-descent-pie-chart {

}

#age-distribution {

}

#sidebar.active {
  flex:1;
  width: 45%;
  opacity: 1;
  z-index: 2;
}

#map.active {
  width: 55%;
}


/* Style for the legend */
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 24px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
