body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}

/* Style for the legend */
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 24px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #111;
  padding-top: 60px;
  color: white;
}

#sidebar-content {
  padding: 15px;
}

#sidebar h2 {
  color: #818181;
}

#sidebar.active {
  width: 250px;
}

#map.active {
  width: calc(100% - 250px);
}